PORT=port
MONGO_URI=mongodb_uri
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=clerk_key
CLERK_SECRET_KEY=clerk_secret_key

CLERK_JWT_ISSUER=clerk_issuer
CLERK_JWKS_URL=clerk_jwks_url
CLERK_JWT_TEMPLATE_NAME=clerk_jwt_template_name

CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret

UPLOADCARE_PUBLIC_KEY=uploadcare_public_key
UPLOADCARE_SECRET_KEY=uploadcare_secret_key

GEMINI_API_KEY=gemini_api_key